body {
  color: white;
  background-color: #2f2f2f;
}
.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #ededed;
    margin-bottom: 10px;
    margin-left: 10%;
}
  
.progress {
  height: 100%;
  background-color: #00aaff;
}
button {
  margin-left: 1%;
  border: none;
  background-color: rgb(132, 22, 134);
  color: #ffffff;
  height: 20px;
}
input {
  width: 170px;
  height: 20px;
  border: none;
}